- if current_user
  = button_to 'Sign out', destroy_user_session_path, :method => "delete"
  = link_to 'Create task', new_tasks_path, :method => "get"
- else
  = button_to 'Sign in', new_user_session_path
  = button_to 'Sign up', new_user_registration_path

%hr
%table
  %thead
    %tr
      %td
        = I18n.t :id
      %td
        = I18n.t :email
      %td
        = I18n.t :type
      %td
        = I18n.t :content
      %td
        = I18n.t :status
      - if current_user && current_user.admin?
        %td
          &nbsp
  %tbody
    - @tasks.each do |task|
      %tr
        %td
          = task.id
        %td
          = task.user.email
        %td
          = I18n.t task.task_type
        %td
          = task.content
        %td
          = I18n.t task.status
        - if current_user && current_user.admin? && task.status == 'pending'
          %td
            = button_to I18n.t(:approve), actions_path(task.id), params: { act: 1 }, method: "post"
            = button_to I18n.t(:unapprove), actions_path(task.id), params: { act: 2 }, method: "post"
